*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:black;
    color:white;
    font-family:Georgia,serif;
    overflow-x:hidden;
}

#stars{
    position:fixed;
    inset:0;

    background:
    radial-gradient(circle at 20% 20%, white 1px, transparent 1px),
    radial-gradient(circle at 80% 30%, white 1px, transparent 1px),
    radial-gradient(circle at 40% 70%, white 1px, transparent 1px),
    radial-gradient(circle at 60% 90%, white 1px, transparent 1px);

    background-size:300px 300px;
}

#envelope-container{
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;
}

#envelope{
    width:320px;
    height:220px;

    position:relative;

    cursor:pointer;
}

#envelope-body{
    width:100%;
    height:100%;

    background:#d8c3a5;

    position:absolute;
}

#flap{
    width:100%;
    height:110px;

    background:#c9b08e;

    position:absolute;

    transform-origin:top;

    transition:1s;
}

#paper{
    width:280px;
    height:180px;

    background:white;
    color:black;

    position:absolute;

    left:20px;
    top:20px;

    display:flex;
    justify-content:center;
    align-items:center;

    border-radius:5px;

    transition:1s;
}

#paper p{
    font-size:28px;
    font-family:cursive;
}

.open #flap{
    transform:rotateX(180deg);
}

.open #paper{
    transform:translateY(-130px);
}

#letter-container{
    display:none;

    justify-content:center;

    padding:50px 20px;
}

#letter{
    width:900px;
    max-width:95%;

    background:#f5f0e8;
    color:black;

    padding:40px;

    border-radius:12px;

    line-height:1.8;
}

#letter h1{
    margin-bottom:20px;
}

#letter p{
    margin-bottom:15px;
}

.signature{
    margin-top:20px;
    font-weight:bold;
}

#teacher-card{
    margin-top:40px;

    text-align:center;
}

#teacher-card img{
    width:150px;
    height:150px;

    object-fit:cover;

    border-radius:50%;

    border:4px solid #ccc;
}

#teacher-card h2{
    margin-top:15px;
}

#memory-button{
    display:inline-block;

    margin-top:40px;

    padding:12px 24px;

    background:black;
    color:white;

    text-decoration:none;

    border-radius:10px;
}
